{{ define "mainPage" }}

{{ template "header" }}


<style>
    #zhytomyr {
        border-radius: 50%;
    }
</style>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Де це?</h3>
    <img src="img/Zhytomyr_in_Ukraine.svg" style="display:inline" alt="Житомир" width="500px" id="zhytomyr">
    <h3>місто Житомир</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Що це за місто?</h3>
    <p>Жито́мир — місто на півночі України, розташоване на річці Тетерів. Адміністративний центр Житомирської області та Житомирського району, центр Житомирської міської об'єднаної територіальної громади. Населення міста — 261,6 тис. осіб.
        Житомир є важливим транспортним вузлом: через місто пролягає автошлях М06, який поєднує Київ зі Львовом і Варшавою, Мінськом та Ізмаїлом, а також автошляхи E40, E583, М21.

        Головними вулицями є Київська, проспект Незалежності, Велика Бердичівська, Чуднівська, Перемоги. На річці Тетерів розташований Гідропарк.

        Належить до столичного економічного району. Основними галузями економіки міста є легка, переробна та харчова промисловість. Житомир є культурним та освітнім центром області. </p>
    <a href="https://uk.wikipedia.org/wiki/%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> Більше...
    </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Факти про Житомир</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Камінь, встановлений на честь 1100-річчя із дня заснування міста. Житомир належить до найдавніших міст України. За місцевою легендою, яку записав історик XIX століття, священник Микола Трипольський, місто започатковано близько 884 року, і свою назву отримало від імені руського дружинника київських князів Аскольда та Діра — Житоми́ра </p>
            <img src="img/Kamin_zhitomir_884.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Житомирський замок — дерев'яний замок-городня, займав північно-західну частину сучасної скелястої Замкової гори, яку з одного боку омиває річка Кам'янка Лісна, а з другого — Рудавка. Вздовж лівого берегу Рудавки розміщалось так зване місто.</p>
            <img src="img/Zamok1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>20 жовтня 1941 р. Житомир став адміністративним центром однойменної генеральної округи. Особливі частини СС і гестапівські служби кидали військовополонених у стаціонарний табір смерті, замаскований під лазарет, де щодня гинуло близько 400 чоловік.</p>
            <img src="img/zhitomir_viina1_w440_h290.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>

{{ template "footer" }}

{{ end }}

